[submodule "vendor/xwrap"]
	path = vendor/xwrap
	url = https://github.com/levinion/xwrap
[submodule "vendor/hierro"]
	path = vendor/hierro
	url = https://github.com/levinion/hierro
[submodule "vendor/tomlplusplus"]
	path = vendor/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
